#container {
    width:100%;
    background:#333;
    margin:0 auto;
    padding:0;
}

#center {
    display: inline-block;
    margin:0 auto;
    width: 70%;
    height: 800px;
}

#right {
    float:right;
    width:30%;
    height: 800px;
}

#time-slider {
    background: #888888;
}

#time-slider-value {
    color: #9999ee;
}

.panes>div {
    display:none;
    padding:15px 10px;
    border-top :0px;
    height:800px;
    font-size:14px;
}

 ul.tabs {
    list-style:none;
    margin:0 !important;
    padding:0;
    height:40px;
    background:#000;
}

ul.tabs li {
    float:left;
    text-indent:0;
    padding:0;
    margin:0 !important;
}

ul.tabs a {
    font-size:11px;
    display:block;
    height: 30px;
    line-height:30px;
    width: 100px;
    text-align:center;
    text-decoration:none;
    padding:0px;
    margin:0px;
    position:relative;
    top:1px;
    color:#99aabb;
    font-size: 14px;
}

 ul.tabs a:active {
    outline:none;
}

ul.tabs a:hover {
    color:#88bbff;
}

ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
    font-size: 18px;
    cursor:default !important;
    color:#88bbff;
}


.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}
.CodeMirror-selected  { background-color: blue !important; }
.CodeMirror-selectedtext { color: white; }
.styled-background { background-color: #ff7; }