#container {
    width:100%;
}

#center {
    display: inline-block;
    margin:0 auto;
    width: 70%;
    height: 800px;
}

#right {
    float:right;
    width:30%;
    height: 800px;
}

.panes>div {
    display:none;
    padding:15px 10px;
    border-top :0px;
    height:800px;
    font-size:14px;
}

 ul.tabs {
    list-style:none;
    margin:0 !important;
    padding:0;
    height:30px;
    background:#000;
}

ul.tabs li {
    float:left;
    text-indent:0;
    padding:0;
    margin:0 !important;
}

ul.tabs a {
    font-size:11px;
    display:block;
    height: 30px;
    line-height:30px;
    width: 134px;
    text-align:center;
    text-decoration:none;
    padding:0px;
    margin:0px;
    position:relative;
    top:1px;
    color:white;
}

 ul.tabs a:active {
    outline:none;

}

ul.tabs a:hover {
    color:yellow;
}

ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
    font-size: 14px;
    cursor:default !important;
    color:yellow;
}


#modelpane { 
    position: relative;
}

.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}
  .CodeMirror-selected  { background-color: blue !important; }
  .CodeMirror-selectedtext { color: white; }
  .styled-background { background-color: #ff7; }